:root{
  --bannerBlue:#053B50;
  --bodyBlue:#176B87;
  --buttonBlue:#64CCC5;
  --white:rgb(219, 219, 219);
  --listItem: #EEEEEE;
  
}

body, .App{
  background-color: var(--bodyBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
